<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>

    <pipelines>

      <httpRequestBegin>
        <processor type="Boondoggle.Sc.Pipelines.SwitchingLayout.SwitchingLayoutResolver, Boondoggle.Sc.SwitchingLayout"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>

      <mvc.buildPageDefinition>
        <processor type="Boondoggle.Sc.Pipelines.SwitchingLayout.ProcessXmlBasedSwitchingLayoutDefinition, Boondoggle.Sc.SwitchingLayout"
                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"/>
      </mvc.buildPageDefinition>

    </pipelines>

  </sitecore>
</configuration>